<html>
    <head>
        <title>Web Tracker</title>
        {% include 'base.html' %}
    </head>

    <style>
        .navi{
          
        }
    </style>

    <body>

        <div class="col-md-12 navi">
            <form method="POST" class="offset-md-10 col-md-2 mt-3"> 
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Logout</button>
            </form>
        </div>
            
        <div class="offset-md-1">
            <h2>List of your websites</h2>
            {% for i in web_list %}
                <li>{{ i }}</li>
            {% endfor %}
        <div>
        <br>
        <div>
            <form method="POST"> 
                <h2>Add web address</h2>
                {% csrf_token %}
                {% if msg %}
                    {{ msg }}
                {% endif %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
            
        </div>
        
            <h2><a href='{% url "time_select" %}'>Select time for checking</a></h2>
            
    </body>
</html>