<html>
    <head>
        <title>Web Tracker</title>
        {% include 'base.html' %}
    </head>

    <body>
        <div class="offset-md-4 col-md-4 mt-5">
            <h2 style="text-align: center;">Login</h2>
            <div class="offset-md-1 col-md-11 mt-4">
                <form method="POST">
                    {% csrf_token %}
                    {% if error %}
                        {{ error }}
                    {% endif %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary mt-2 offset-md-4 col-md-4">Submit</button>
                </form>

                <div style="letter-spacing: 1px; font-size: 19px; text-align:center">
                    Not logged in yet? <a href='{% url 'signup' %}'>Signup</a>
                </div>
            </div>
        </div>
    </body>

    <script>
        $('p').attr('class','form-group');
        $('input').attr('class','form-control');
    </script>
</html>