<html>
    <head>
        <title>Web Tracker</title>
        {% include 'base.html' %}
    </head>

    <body>
        <div class="offset-md-4 col-md-4 mt-2">
            <h2 style="text-align: center;">Signup</h2>
            <div class="offset-md-1 col-md-11 mt-3">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary offset-md-4 col-md-4">Submit</button>
                </form>
            </div>
        </div>
    </body>

    <script>
        $('p').attr('class','form-group');
        $('input').attr('class','form-control');
        $('span').hide();
        $('ul').hide();
    </script>
</html>