<html>

    <body>
        <form method="POST">
            <h2>Select time for checking</h2>
            {% csrf_token %}
            {% if error %}
                {{ error }}
            {% endif %}

            {% if timing_msg %}
                {{ timing_msg }}
            {% endif %}
            
            {{ timing_form.as_p }}
            <button type="submit">Submit</button>
        <form>
    </body>

</html>
